@page
@model WiproRazorPage.Pages.WiproModel
@{
    ViewData["Title"] = "About Us Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to About Us Page</h1>
    <p>This is the.</p>
</div>
