@page
@model IndexModel
@{
    ViewData["Title"] = "Service Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Home Page</h1>
    <p class ="lead">
        India is regarded as a powerhouse for software and IT businesses worldwide. India's IT industry has risen significantly in evaluation, supply, job hunting, employability, and more in the past decade. The NASSCOM Report states that India's IT export earnings increased by 8.3% to an anticipated $136 billion in 2019. The world we live in is changing as a result of technological advancements. Since everything in today's world is digitized, IT firms now make up a significant portion of giant organizations. Every business is growing in the market due to technological advances and applications, from the financial sector to the medical field, from payroll to customer services, contact centres to legal systems to the educational sector.

    </p>
    <img src="https://images.javatpoint.com/company/images/wipro-company.png" alt="Alternate Text" />
</div>
